In [1]:
import os
import pandas as pd
import numpy as np
import datetime as dt
from datetime import date
from datetime import timedelta

In [2]:
pd.set_option('display.max_rows', 8)

In [3]:
my_data = pd.read_excel("ippis_deduc_reports.xlsx", sheet_name = None)
my_data = pd.concat(my_data[frame] for frame in my_data.keys())

deduction = my_data.groupby(['Employee Number', 'Employee Name', 'Ministry Name']).agg(["sum","count"]).reset_index()

# columns = deduction.columns
# deduction.columns
# columns.apply(tuple)


deduction

     Employee Number                    Employee Name  \

0                2.0   BAMIKARERE, Mr. OLADELE ADEOLA
1                5.0        ARINZE, Ms. ONYINYE CHIKA
2               65.0              IBRAHIM, Mr. ISYAKU
3              211.0      MOHAMMED, Mr. DAMARGU IDRIS
...              ...                              ...
1062        486693.0         ADEDOKUN, Mr. SEUN TUNDE
1063        486762.0        OJO, Mr. KAYODE BABATUNDE
1064        486819.0  AYINDE, Mr. AYOMIDE OLATUNBOSUN
1065        487221.0                UMAR, Mr. ZUBAIRU

                                        Ministry Name Deduction Amount        \
                                                                   sum count
0          FEDERAL MINISTRY OF SCIENCE AND TECHNOLOGY         16524.62     2
1                      NATIONAL POPULATION COMMISSION        101045.32     2
2     FEDERAL MINISTRY OF MINES AND STEEL DEVELOPMENT        121032.57     3
3                           POLICE SERVICE COMMISSION         13363.66     2
...                                               ...              ...   ...
1062             UNIVERSITY COLLEGE HOSPITAL - IBADAN         10898.96     1
1063             UNIVERSITY COLLEGE HOSPITAL - IBADAN         34785.76     1
1064             UNIVERSITY COLLEGE HOSPITAL - IBADAN         11103.12     3
1065                   FEDERAL MEDICAL CENTRE - GUSAU         23335.47     3

                                           Element Name       Macro1        \
                                                    sum count    sum count
0        LIBERTY ASSURED LIMITEDLIBERTY ASSURED LIMITED     2      0     0
1        LIBERTY ASSURED LIMITEDLIBERTY ASSURED LIMITED     2      0     0
2     LIBERTY ASSURED LIMITEDLIBERTY ASSURED LIMITED...     3      0     0
3        LIBERTY ASSURED LIMITEDLIBERTY ASSURED LIMITED     2      0     0
...                                                 ...   ...    ...   ...
1062                            LIBERTY ASSURED LIMITED     1      0     0
1063                            LIBERTY ASSURED LIMITED     1      0     0
1064  LIBERTY ASSURED LIMITEDLIBERTY ASSURED LIMITED...     3      0     0
1065  LIBERTY ASSURED LIMITEDLIBERTY ASSURED LIMITED...     3      0     0

     Auto_Open
           sum count
0          0.0     0
1          0.0     0
2          0.0     0
3          0.0     0
...        ...   ...
1062       0.0     0
1063       0.0     0
1064       0.0     0
1065       0.0     0

[1066 rows x 11 columns]

In [4]:
deduction_columns = deduction.columns.map(''.join)
deduction.columns = deduction_columns
deduction.columns

Index(['Employee Number', 'Employee Name', 'Ministry Name',
       'Deduction Amountsum', 'Deduction Amountcount', 'Element Namesum',
       'Element Namecount', 'Macro1sum', 'Macro1count', 'Auto_Opensum',
       'Auto_Opencount'],
      dtype='object')

In [5]:
required_columns = ['Employee Number',
                    'Ministry Name',
                    'Employee Name',
                    'Deduction Amountsum',
                    'Deduction Amountcount', 
                    ]

target_deduction = deduction[required_columns]
deduction = target_deduction.rename(columns = {'Deduction Amountsum': 'TotalDeducted', 'Deduction Amountcount': 'Nos Deducted'})

deduction.head(7)

,Employee Number,Ministry Name,Employee Name,TotalDeducted,Nos Deducted
0,2.0,FEDERAL MINISTRY OF SCIENCE AND TECHNOLOGY,"BAMIKARERE, Mr. OLADELE ADEOLA",16524.62,2
1,5.0,NATIONAL POPULATION COMMISSION,"ARINZE, Ms. ONYINYE CHIKA",101045.32,2
2,65.0,FEDERAL MINISTRY OF MINES AND STEEL DEVELOPMENT,"IBRAHIM, Mr. ISYAKU",121032.57,3
3,211.0,POLICE SERVICE COMMISSION,"MOHAMMED, Mr. DAMARGU IDRIS",13363.66,2
4,615.0,MINISTRY OF DEFENCE - MOD,"YUSUF, Mrs. JIMADA FATIMA",36673.76,4
5,1071.0,MINISTRY OF DEFENCE - MOD,"Owonibi, Mrs. Loveth Oluwabunmi",25894.51,1
6,1900.0,FEDERAL MINISTRY OF LABOUR & PRODUCTIVITY,"Egberike, Ms. Ebiakpo",37693.62,2

In [6]:
deduction.to_excel('Cleaned_Deduction_Report.xlsx')

In [7]:
ippis_data = pd.read_excel("Cleaned_loan_disk.xlsx")
ippis_data

,Unnamed: 0,Released,Maturity,Loan#,Name,IPPIS No,Principal,Duration,Due,Paid,Amortization,PendingDue,Last Paid Date,Last Payment,Balance,MINISTRY/AGENCY,Status
0,0,2020-07-12,2021-07-03,CCM-3429654124,Okoye Ugochukwu Daniel,37503,18900.00,3,25042.31,NaN,8347.43,25042.31,NaN,NaN,25042.31,Scientific Equipment Development Institute,Processing
1,1,2020-10-27,2021-01-27,CC-3429654123,"AMINU, HADIZA A",127405,49018.00,3,64948.36,NaN,21649.46,64948.36,NaN,NaN,64948.36,NIGERIAN TELEVISION AUTHORITY,Past Maturity
2,2,2020-10-22,2021-01-22,CC-6706402307,"OKELOLA, KAYODE O",250300,71685.81,3,94976.53,63317.68,NaN,31658.85,08-03-21,31658.84,31658.85,"FEDERAL MEDICAL CENTRE ABEOKUTA,",Past Maturity
3,3,2020-10-22,2021-01-22,CC-645924972,"ALHASSAN, ALHASSAN LUKMAN A",464224,63848.04,3,84592.26,84592.26,NaN,NaN,30-01-21,28197.42,0.00,"NATIONAL BOARD FOR ARABIC AND ISLAMIC STUDIES,",Fully Paid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,1248,2020-09-17,2020-12-17,CC-101222085,"AKOLO, JOSEPH PAUL A",348836,31235.40,3,38263.37,38263.38,NaN,NaN,08-03-21,12754.46,-0.01,"FEDERAL RADIO CORPORATION OF NIGERIA,",Fully Paid
1246,1249,2020-09-16,2020-12-16,CC-9737170206,"MUHAMMAD, NAFIU M",438725,20306.66,3,24875.66,16583.78,NaN,8291.88,08-03-21,8291.89,8291.88,NaN,Past Maturity
1247,1250,2020-09-16,2020-12-16,CC-8805963535,"JIBRIN , OLABA IBRAHIM J",307777,9861.68,3,12080.56,NaN,4026.84,12080.56,NaN,NaN,12080.56,NaN,Unsolicited Loan: resolved
1248,1251,2020-09-15,2020-12-15,CC-8815984159,"ABDULLAHI, HAMZA GAMBO A",168582,2256.00,3,2763.60,NaN,921.20,2763.60,NaN,NaN,2763.60,NaN,Past Maturity

In [8]:
file_merge = pd.merge(
                left= ippis_data,
                right= deduction,
                how="outer",
                left_on="IPPIS No",
                right_on="Employee Number"
                )

In [9]:
file_merge.columns

Index(['Unnamed: 0', 'Released', 'Maturity', 'Loan#', 'Name', 'IPPIS No',
       'Principal', 'Duration', 'Due', 'Paid', 'Amortization', 'PendingDue',
       'Last Paid Date', 'Last Payment', 'Balance', 'MINISTRY/AGENCY',
       'Status', 'Employee Number', 'Ministry Name', 'Employee Name',
       'TotalDeducted', 'Nos Deducted'],
      dtype='object')

In [10]:
new_merge = file_merge[['Released',
                        'Maturity',
                        'Loan#',
                        'Name',
                        'IPPIS No',
                        'Employee Number',
                        'Principal',
                        'Due',
                        'Paid',
                        'TotalDeducted',
                        'PendingDue',
                        'Last Payment',
                        'Duration',
                        'Nos Deducted',
                        'Balance',
                        'MINISTRY/AGENCY',
                        'Status'
                        ]]

In [11]:
merged_data = new_merge.rename(columns={'Paid':'LoanDiskPaid'})

processingMask = merged_data['Status'] != 'Processing'
merged_data = merged_data[processingMask]

merged_data.head(5)

,Released,Maturity,Loan#,Name,IPPIS No,Employee Number,Principal,Due,LoanDiskPaid,TotalDeducted,PendingDue,Last Payment,Duration,Nos Deducted,Balance,MINISTRY/AGENCY,Status
1,2020-10-27,2021-01-27,CC-3429654123,"AMINU, HADIZA A",127405.0,127405.0,49018.00,64948.36,NaN,86597.80,64948.36,NaN,3.0,4.0,64948.36,NIGERIAN TELEVISION AUTHORITY,Past Maturity
2,2020-10-22,2021-01-22,CC-6706402307,"OKELOLA, KAYODE O",250300.0,250300.0,71685.81,94976.53,63317.68,94976.52,31658.85,31658.84,3.0,3.0,31658.85,"FEDERAL MEDICAL CENTRE ABEOKUTA,",Past Maturity
3,2020-10-22,2021-01-22,CC-645924972,"ALHASSAN, ALHASSAN LUKMAN A",464224.0,464224.0,63848.04,84592.26,84592.26,84592.26,NaN,28197.42,3.0,3.0,0.00,"NATIONAL BOARD FOR ARABIC AND ISLAMIC STUDIES,",Fully Paid
4,2020-10-22,2021-01-22,CC-6733683418,"AYINLA, JANET OLUREMI A",190057.0,190057.0,37118.30,49178.04,16392.68,49178.04,32785.36,16392.68,3.0,3.0,32785.36,"UNILORIN TEACHING HOSPITAL - ILORIN,",Past Maturity
5,2020-10-22,2021-01-22,CC-69140781,"YAKUBU, ANDA YAHAYA Y",218313.0,218313.0,38101.62,50480.84,50480.85,50480.85,NaN,16826.95,3.0,3.0,-0.01,"NATIONAL LOTTERY REGULATORY COMMISSION,",Fully Paid

In [12]:
merged_data['TotalDeducted'] = merged_data['TotalDeducted'].replace(to_replace = np.nan, value = 0)

merged_data['LoanDiskPaid'] = merged_data['LoanDiskPaid'].replace(to_replace = np.nan, value = 0)

In [13]:
# seye = merged_data[merged_data['TotalDeducted'] == 0]
# seye

In [14]:
merged_data['Credit_Diff'] = merged_data['TotalDeducted'] - merged_data['LoanDiskPaid']
merged_data['Credit_Diff'] = merged_data['Credit_Diff'].apply(lambda x: round(x, 3))

merged_data['LoanBalance'] = merged_data['Due'] - merged_data['TotalDeducted']
merged_data['LoanBalance'] = merged_data['LoanBalance'].apply(lambda x: round(x, 0))

merged_data['Amortization'] = merged_data['Due'] / merged_data['Duration']
merged_data['Amortization'] = merged_data['Amortization'].apply(lambda x: round(x, 2))

merged_data['PendingDuration'] = (merged_data['Due'] - merged_data['TotalDeducted']) / merged_data['Amortization']
merged_data['PendingDuration'] = merged_data['PendingDuration'].apply(lambda x: round(x, 0))

merged_data['Deduction Amount'] = merged_data['LoanBalance'] / merged_data['PendingDuration']
merged_data['Deduction Amount'] = merged_data['Deduction Amount'].apply(lambda x: round(x, 0))

merged_data['Start Date'] = ""
merged_data['End Date'] = ""


merged_data.to_csv('validation.csv')

In [15]:
current_month = dt.datetime.today().strftime('%m/%y')
merged_data['Start Date'] = current_month
type(merged_data['Start Date'])

pandas.core.series.Series

In [16]:
# a = current_month + 1

In [18]:
NLoan_status = []
for data in merged_data['LoanBalance']:
    if data < -10 :
        NLoan_status.append('Excess Payment')
    elif data == 0 or data < 5:
        NLoan_status.append('fully paid')
    elif data > 5:
        NLoan_status.append('running')
    elif np.nan:
        NLoan_status.append('no deduction')
    else:
        pass
        
NLoan_status
merged_data['Loan status'] = NLoan_status

merged_data.to_csv('csv.csv')

In [ ]:
# i=merged_data[(merged_data['Loan status'] != 'Excess Payment') & (merged_data['Loan status'] != 'fully paid')]
gh = merged_data[merged_data['Status'] == 'Past Maturity']
i = gh[(merged_data['Loan status'] != 'Excess Payment') & (merged_data['Loan status'] != 'fully paid')]
i

In [ ]:
new_df = i['LoanBalance'] >= 3
final_data = i[new_df]

In [ ]:
# valid_data = merged_data[(merged_data['Loan status'] != 'Excess Payment') & (merged_data['Loan status'] != 'fully paid')]
# merged_data = merged_data[valid_data]
# new_df = merged_data['LoanBalance'] >= 3
# final_data = merged_data[new_df]

# final_data

In [ ]:
PMask = merged_data[(merged_data['LoanBalance'] == 0.01) & (merged_data[(merged_data['LoanBalance'] <= 3)]
update = merged_data[PMask]
update.to_csv('Update LoanBalance.csv')

In [ ]:
deductionList = {
    "Employee Number" : final_data['IPPIS No'],
    "Client Name" : final_data['Name'],
   "Start_Date" : final_data['Start Date'],
    "End_Date" : final_data['End Date'],
    "Deduction Amount" : final_data['Deduction Amount'],
    "Duration" : final_data['PendingDuration'],
     "Loan Balance" : final_data['LoanBalance']
}
# deductionList
df = pd.DataFrame(deductionList)
df.to_csv('final_deduction.csv', index=False)

In [ ]:
NotDeducted = {
    "Employee Number" : final_data['IPPIS No'],
    "Client Name" : final_data['Name'],
    "Principal" : final_data['Principal'],
    "Tenor" : final_data['Duration'],
   "Ministry Name" : final_data['MINISTRY/AGENCY'],
    "Expected Payment" : final_data['Due'],
    "Loan Balance": final_data['LoanBalance']
   }
# deductionList
dfa = pd.DataFrame(NotDeducted)
dfa.to_csv('not_deducted.csv', index=False)

In [ ]:
# valid_data = merged_data[(merged_data['Loan status'] != 'Excess Payment') & (merged_data['Loan status'] != 'fully paid')]
new_df = valid_data(valid_data['LoanBalance'] >= 3) & (valid_data['LoanBalance'] == np.nan)]
# final_data = valid_data[new_df]
new_df
# final_data
# # valid_data

In [ ]:
merged_data['Loan status'] = merged_data['Loan status'].where(merged_data['Loan status'] == 'running', 'no deduction')
merged_data['Loan status'] # merged_data[(merged_data['Loan status'] != 'Excess Payment') & (merged_data['Loan status'] != 'fully paid')]

In [ ]:
# merged_data["Deduct_Status"] = merged_data["Nos Deducted"].replace(to_replace=[np.nan,1.0,2.0,3.0,4.0], value = ['not_Deducted','once', 'twice', 'thrice', 'check payment'])
# merged_data.head()

In [ ]:
# deduction
# df = pd.DataFrame(deduction)|
# df.rename(columns={0:"Employee Number"})
# df.columns

johnson = my_data.groupby(["Employee Number","Employee Name", "Month", "Ministry Name"])["Deduction Amount"].agg(["sum","count"]).reset_index()

In [ ]:
# deduction = my_data.groupby('Employee Number').sum().reset_index()

In [ ]:
# deduction = my_data.groupby('Employee Number')['Employee Number'].transform('count').sum()

In [ ]:
# pd.set_option("display.max_columns", 20)

In [ ]:
# johnson

In [ ]:
# deduction.get_group("Ministry Name")

In [ ]:
# current_Month = datetime.datetime.now()
# month = current_Month.strftime("%B")
# month = date.month
# month

In [ ]:
# current_Month = datetime.datetime.now()
# dmonth = current_Month.month,year
# # dmonth
# type(dmonth)

In [ ]:
# my_data.groupby(['Element Name']).get_group("LIBERTY ASSURED LIMITED")

In [ ]:
# deduc_309344_mask = johnson["Employee Number"]==309344
# search = johnson[deduc_309344_mask]
# search

new_deduction = my_data[deduction]
new_deduction

In [ ]:
# done = deduction.get("Ministry Name")
# done

deduc_309344_mask = deduction["Employee Number"]==309344
search = deduction[deduc_309344_mask]
search

In [ ]:
# ippis_data.drop(columns = ['Remita Mandate Status', 'Mobile','Principal After Deduct', 'Account Number', 'Bank Code'])