# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [2]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [3]:
# Add your code for Question 2 in this code block
data= pd.read_csv("application_data.csv")

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [5]:
# convert to dates
repayment_paid_as_datetime = pd.to_datetime(data["appilcationDate"])
data["appilcationDate"] = repayment_paid_as_datetime

repayment_paid_as_datetime = pd.to_datetime(data["repaymentDueDate"])
data["repaymentDueDate"]=repayment_paid_as_datetime

repayment_paid_as_datetime = pd.to_datetime(data["repaymentPaidDate"])
data["repaymentPaidDate"]=repayment_paid_as_datetime

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [6]:
# data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   datetime64[ns]
 8   repaymentPaidDate  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 62.6+ KB

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [7]:
# 2a avg loan amount
data["LoanAmount"].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      7500.0
1      7500.0
2      7500.0
3      7500.0
4      7500.0
        ...
995    7500.0
996    7500.0
997    7500.0
998    7500.0
999    7500.0
Name: LoanAmount, Length: 1000, dtype: float64>

In [8]:
# 2b avg interest rate
data["InterestRate"].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      30.0
1      30.0
2      30.0
3      30.0
4      30.0
       ...
995    30.0
996    30.0
997    30.0
998    30.0
999    30.0
Name: InterestRate, Length: 1000, dtype: float64>

In [9]:
# 2c avg term days 
data["TermDays"].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      30
1      30
2      30
3      30
4      30
       ..
995    30
996    30
997    30
998    30
999    30
Name: TermDays, Length: 1000, dtype: int64>

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [11]:
# date difference
dataDifference = data["repaymentPaidDate"]- data["repaymentDueDate"]
data["dataDifference"]=dataDifference

In [12]:
# number of loans more than 3 days late
days_late = dataDifference.dt.days  >3
dataDifference.dt.days

0       -4
1      -24
2      -30
3      -26
4       -3
      ...
995    -25
996     -1
997    252
998     -2
999    -13
Length: 1000, dtype: int64

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [16]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
data.groupby("TermDays").mean()["LoanAmount"]

TermDays
15      1274.088050
30      7941.964286
45     10706.250000
60     25710.526316
90     37672.727273
120    45055.555556
180    80988.095238
Name: LoanAmount, dtype: float64

In [18]:
filter= data['TermDays']==30

---

In [19]:
data[filter].mean()["LoanAmount"]

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.

7941.964285714285

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [20]:
# week of year and average number of late days
data[days_late]

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dataDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days
...,...,...,...,...,...,...,...,...,...,...
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.