In [1]:
import pandas as pd

In [4]:
cases = "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_confirmed_global.csv&filename=time_series_covid19_confirmed_global.csv"
deaths= "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_deaths_global.csv&filename=time_series_covid19_deaths_global.csv"
recoveries = "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_recovered_global.csv&filename=time_series_covid19_recovered_global.csv"

In [10]:
data_cases  = pd.read_csv(cases)
data_deaths = pd.read_csv(deaths)
data_recoveries = pd.read_csv(recoveries)

In [11]:
data_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,56069,56093,56103,56153,56177,56192,56226,56254,56290,56294
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,120022,120541,121200,121544,121847,122295,122767,123216,123641,124134
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,115970,116066,116157,116255,116349,116438,116543,116657,116750,116836
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,11431,11481,11517,11545,11591,11638,11687,11732,11809,11850
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,21642,21696,21733,21757,21774,21836,21914,21961,22031,22063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,2571,2572,2572,2575,2575,2576,2579,2586,2586,2591
270,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,219912,221391,223638,225976,228044,230076,232038,233549,234748,236462
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,3217,3278,3418,3516,3612,3703,3816,3900,3969,4033
272,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,86059,86273,86449,86535,86779,86993,87318,87583,87583,87872
273,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,36652,36662,36665,36684,36717,36749,36778,36805,36818,36822

In [12]:
data_deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,2462,2462,2463,2464,2466,2466,2467,2467,2469,2470
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2122,2133,2137,2145,2156,2171,2184,2192,2204,2210
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,3053,3055,3057,3061,3066,3069,3071,3074,3077,3080
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,113,113,113,113,113,114,114,114,115,115
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,524,526,527,530,530,532,532,532,533,533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,35
270,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,2379,2406,2427,2458,2478,2501,2521,2537,2557,2581
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,733,737,751,771,785,800,810,820,832,851
272,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,1178,1178,1179,1182,1185,1187,1191,1194,1198,1200
273,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,1510,1510,1512,1514,1516,1516,1518,1518,1519,1520

In [13]:
data_recoveries

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,49681,49681,49737,49743,49752,49802,49937,49994,49994,50013
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,83954,84625,85147,85846,86497,87193,87760,88349,88899,89456
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,80455,80566,80659,80887,80981,81065,81065,81160,81242,81316
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,10925,10952,10973,11014,11050,11082,11111,11149,11172,11204
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,20065,20068,20073,20090,20099,20172,20190,20250,20269,20289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,2198,2198,2198,2233,2246,2265,2265,2265,2308,2308
255,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,195372,196678,198431,199965,201675,203340,205289,206914,208676,210340
256,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1529,1530,1534,1546,1566,1577,1580,1588,1590,1606
257,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,82714,83110,83258,83319,83478,83617,83895,84018,84264,84347
258,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,34249,34257,34269,34315,34447,34476,34555,34572,34575,34603

In [22]:
data_cases.columns

Index(['Country/Region', '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20',
       '1/27/20', '1/28/20', '1/29/20', '1/30/20',
       ...
       '3/19/21', '3/20/21', '3/21/21', '3/22/21', '3/23/21', '3/24/21',
       '3/25/21', '3/26/21', '3/27/21', '3/28/21'],
      dtype='object', length=433)

In [21]:
data_cases.drop(['Province/State', 'Lat', 'Long'], axis = 1, inplace=True)

In [29]:
melted_data_cases = data_cases.melt(id_vars=['Country/Region'], value_name='cases', var_name='dates')

In [27]:
# data_cases.iloc[:1]

In [31]:
melted_data_cases[melted_data_cases["Country/Region"] == "Afghanistan"]

       Country/Region    dates  cases
0         Afghanistan  1/22/20      0
274       Afghanistan  1/23/20      0
548       Afghanistan  1/24/20      0
822       Afghanistan  1/25/20      0
1096      Afghanistan  1/26/20      0
...               ...      ...    ...
116998    Afghanistan  3/24/21  56192
117272    Afghanistan  3/25/21  56226
117546    Afghanistan  3/26/21  56254
117820    Afghanistan  3/27/21  56290
118094    Afghanistan  3/28/21  56294

[432 rows x 3 columns]

In [35]:
melted_data_cases

            Country/Region    dates   cases
0              Afghanistan  1/22/20       0
1                  Albania  1/22/20       0
2                  Algeria  1/22/20       0
3                  Andorra  1/22/20       0
4                   Angola  1/22/20       0
...                    ...      ...     ...
118363             Vietnam  3/28/21    2591
118364  West Bank and Gaza  3/28/21  236462
118365               Yemen  3/28/21    4033
118366              Zambia  3/28/21   87872
118367            Zimbabwe  3/28/21   36822

[118368 rows x 3 columns]

In [33]:
data_deaths.drop(['Province/State', 'Lat', 'Long'], axis = 1, inplace=True)

In [34]:
melted_data_deaths = data_deaths.melt(id_vars=['Country/Region'], value_name='deaths', var_name='dates')
melted_data_deaths

            Country/Region    dates  deaths
0              Afghanistan  1/22/20       0
1                  Albania  1/22/20       0
2                  Algeria  1/22/20       0
3                  Andorra  1/22/20       0
4                   Angola  1/22/20       0
...                    ...      ...     ...
118363             Vietnam  3/28/21      35
118364  West Bank and Gaza  3/28/21    2581
118365               Yemen  3/28/21     851
118366              Zambia  3/28/21    1200
118367            Zimbabwe  3/28/21    1520

[118368 rows x 3 columns]

In [36]:
melted_data_cases["deaths"] = melted_data_deaths.deaths

In [37]:
melted_data_cases

            Country/Region    dates   cases  deaths
0              Afghanistan  1/22/20       0       0
1                  Albania  1/22/20       0       0
2                  Algeria  1/22/20       0       0
3                  Andorra  1/22/20       0       0
4                   Angola  1/22/20       0       0
...                    ...      ...     ...     ...
118363             Vietnam  3/28/21    2591      35
118364  West Bank and Gaza  3/28/21  236462    2581
118365               Yemen  3/28/21    4033     851
118366              Zambia  3/28/21   87872    1200
118367            Zimbabwe  3/28/21   36822    1520

[118368 rows x 4 columns]