In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("account_stmt_01May2020_09Apr2021_clean.csv")

In [5]:
data

,S/N,POSTING DATE,VALUE DATE,DESCRIPTION,DEBIT,CREDIT,BALANCE
0,1,01 May 2020,01 May 2020,SMS ALERT CHARGE 0032258717/03-APR-20/NGN/00...,5.38,0.0,1738164.96
1,2,01 May 2020,30 Apr 2020,PSL 99999999 000000010265 DR 20200501003756 ...,2104.00,0.0,1736060.96
2,3,01 May 2020,01 May 2020,090175200501115302050135995695 RBX_013858091...,0.00,30000.0,1766060.96
3,4,01 May 2020,01 May 2020,PSL 10582321 000000004933 DR 20200501132619 ...,0.00,70000.0,1836060.96
4,5,01 May 2020,01 May 2020,Org. Amt: 70000 20200501_S52682184_ 2_NG15...,50.00,0.0,1836010.96
...,...,...,...,...,...,...,...
23384,23385,09 Apr 2021,09 Apr 2021,REMITA RBX_GY2045811QN-_REMITA_94775432272 H...,0.00,14000.0,15456253.26
23385,23386,09 Apr 2021,09 Apr 2021,000015210409100500001637210258 RBX_-AUGUSTA ...,0.00,9310.0,15465563.26
23386,23387,09 Apr 2021,09 Apr 2021,payment:CBN RBX_4L336777H9B-_REMITA_94774036...,0.00,23940.0,15489503.26
23387,23388,09 Apr 2021,09 Apr 2021,N:95288070- RBX_V8G36800J46-_REMITA_94776019...,0.00,22610.0,15512113.26
23388,23389,09 Apr 2021,09 Apr 2021,000016210409103323000063141687 RBX_-CHISOM A...,0.00,6000.0,15518113.26

In [12]:
payday_mask = data[" DESCRIPTION"].str.contains("PayDay")
payday = data[payday_mask]

In [15]:
payday.loc[389][" DESCRIPTION"]

'  payment:CBN RBX_M7A82554LH7-_REMITA_93991536790 HERBERT MACAULAY R-399153679/Central Ba:140399153471-PayDay-LoanRe'

In [36]:
payday["mandates"] = payday[" DESCRIPTION"].str.extract(r":([0-9]*)-PayDay")

c:\users\kboys\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
payday

,S/N,POSTING DATE,VALUE DATE,DESCRIPTION,DEBIT,CREDIT,BALANCE,mandates
389,390,27 May 2020,27 May 2020,payment:CBN RBX_M7A82554LH7-_REMITA_93991536...,0.0,37500.0,325963.21,140399153471
390,391,27 May 2020,27 May 2020,payment:CBN RBX_OV587353EP3-_REMITA_93991677...,0.0,62500.0,388463.21,100399164552
391,392,27 May 2020,27 May 2020,payment:CBN RBX_S45932323GP-_REMITA_93994542...,0.0,12500.0,400963.21,180399410793
401,402,27 May 2020,27 May 2020,payment:CBN RBX_9GB4487305V-_REMITA_93995553...,0.0,1.0,347860.45,100398324047
402,403,27 May 2020,27 May 2020,payment:CBN RBX_CZJ419839XQ-_REMITA_93995222...,0.0,1.0,347861.45,140399132228
...,...,...,...,...,...,...,...,...
23377,23378,09 Apr 2021,09 Apr 2021,payment:CBN RBX_S2N68818HIL-_REMITA_94774035...,0.0,6650.0,15318763.26,140464109257
23378,23379,09 Apr 2021,09 Apr 2021,payment:CBN RBX_NYC688355SL-_REMITA_94775338...,0.0,46550.0,15365313.26,110475914181
23379,23380,09 Apr 2021,09 Apr 2021,payment:CBN RBX_ZLH68802GE9-_REMITA_94774035...,0.0,77140.0,15442453.26,250463589673
23386,23387,09 Apr 2021,09 Apr 2021,payment:CBN RBX_4L336777H9B-_REMITA_94774036...,0.0,23940.0,15489503.26,180475706859
23387,23388,09 Apr 2021,09 Apr 2021,N:95288070- RBX_V8G36800J46-_REMITA_94776019...,0.0,22610.0,15512113.26,290466590511

In [38]:
payday[payday.mandates.isna()]#.to_csv("mandates.csv") # CHECK FOR MISSING MADATES

Empty DataFrame
Columns: [S/N,  POSTING DATE,  VALUE DATE,  DESCRIPTION,  DEBIT,  CREDIT,  BALANCE, mandates]
Index: []

In [44]:
summed_duplicates = payday.groupby("mandates").sum().reset_index()

In [47]:
summed_duplicates[["mandates", " CREDIT"]]

          mandates   CREDIT
0     100398324047      1.0
1     100399164552  62500.0
2     100399409615   6250.0
3     100399548879      1.0
4     100399548898      1.0
...            ...      ...
9599  350472119608   9310.0
9600  350472408038   5320.0
9601  350473057727   3990.0
9602  350474175008  12967.5
9603  350475500689   6650.0

[9604 rows x 2 columns]

In [51]:
def clean_file(file_name):

    clean_file_name = f"{file_name}_cleaned.csv"

    file = open(f"{file_name}.csv", "r")
    data = file.readlines()
    data.pop(0)
    heading = data.pop(0)

    file = open(clean_file_name, "w")
    file.write(heading)

    for line in data:
        splitted_line = line.split(",")
        if len(splitted_line) > 7:
            middle = splitted_line[3:-3]
            reformatted_middle = " ".join(middle)

            splitted_line[3:-3] = [reformatted_middle]

        file.write(",".join(splitted_line))
    file.close()
    
    return clean_file_name

def extract_mandates(clean_file_name):
    data = pd.read_csv(clean_file_name)

    payday_mask = data[" DESCRIPTION"].str.contains("PayDay")
    payday = data[payday_mask]

    payday["mandates"] = payday[" DESCRIPTION"].str.extract(r":([0-9]*)-PayDay")

    summed_duplicates = payday.groupby("mandates").sum().reset_index()
    
    return summed_duplicates[["mandates", " CREDIT"]]

In [57]:
target_file_name = "account_stmt_01May2020_09Apr2021"
extract_mandates(clean_file(target_file_name))

c:\users\kboys\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

          mandates   CREDIT
0     100398324047      1.0
1     100399164552  62500.0
2     100399409615   6250.0
3     100399548879      1.0
4     100399548898      1.0
...            ...      ...
9599  350472119608   9310.0
9600  350472408038   5320.0
9601  350473057727   3990.0
9602  350474175008  12967.5
9603  350475500689   6650.0

[9604 rows x 2 columns]