In [36]:
import pandas as pd

In [37]:
mandates_n_creds = pd.read_csv("main_cleaned.csv-mandates-credits.csv")
loan_disk = pd.read_csv("all2 - Copy.csv")

In [38]:
# list(loan_disk.columns)

In [39]:
mandates_n_creds.drop(["Unnamed: 0"], axis = 1, inplace = True) # drop the unwanted column Unnamed: 0 from mandates

In [42]:
mandates_n_creds.columns = ['mandates_bank', ' CREDIT'] # rename mandates to mandates_bank

In [43]:
required_columns = ['loan_id',
                     'loan_principal_amount',
                     'loan_released_date',
                     'total_amount_due',
                     'balance_amount',
                     'due_date',
                     'total_paid',
                     'custom_field_4361',
                     'custom_field_4178',
                     'custom_field_5262',
                     'borrower_firstname',
                     'borrower_lastname',
                     'borrower_email',
                     'borrower_address',
                     ]
loan_disk_target = loan_disk[required_columns]

In [44]:
required_columns_customized = ['loan_id',
                                 'loan_principal_amount',
                                 'loan_released_date',
                                 'total_amount_due',
                                 'balance_amount',
                                 'due_date',
                                 'total_paid',
                                 'bvn',
                                 'account_no',
                                 'mandates_loandisk',
                                 'borrower_firstname',
                                 'borrower_lastname',
                                 'borrower_email',
                                 'borrower_address',
                                 ]

loan_disk_target.columns = required_columns_customized # change  certain column names in the fields

In [45]:
loan_disk_target

,loan_id,loan_principal_amount,loan_released_date,total_amount_due,balance_amount,due_date,total_paid,bvn,account_no,mandates_loandisk,borrower_firstname,borrower_lastname,borrower_email,borrower_address
0,1369069,40000,24/05/2020,NaN,0.00,31/05/2020,50000.00,22155117727,58578850,1.803991e+11,DIAMOND,UDOIDIONG,diamondray943@gmail.com,NATIONAL OIL SPILL DETECTION AND RESPONSE AGENCY
1,1369070,40000,24/05/2020,NaN,20472.64,31/05/2020,29527.36,22248314110,3280263014,1.403991e+11,KENNETH,ONWORDI,talk2sirnd@yahoo.com,FEDERAL MINISTRY OF INFORMATION & CULTURE - HQTRS
2,1369071,30000,24/05/2020,NaN,0.00,31/05/2020,37500.00,22264860545,23357418,1.503991e+11,OLUWASEUN,FAYOMI,fayomiooseun@yahoo.com,MEDICAL AND DENTAL COUNCIL OF NIGERIA
3,1369072,30000,25/05/2020,NaN,0.00,31/05/2020,37500.00,22224174907,39798746,3.403993e+11,charles,udogwu,NaN,"FEDERAL MEDICAL CENTRE, EBUTE METTA"
4,1369073,10000,25/05/2020,NaN,0.00,31/05/2020,12500.00,22211157144,2016781863,1.503993e+11,JAMES,ARONI,jamesenders007@gmail.com,NATIONAL YOUTH SERVICE CORPS (NYSC)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12336,1944895,12500,13/04/2021,NaN,16625.00,13/05/2021,0.00,22188539770,3012996918,1.404791e+11,olagoke,olubodun,noemail@email.com,OLUBODUN - OLAGOKE
12337,1944896,7000,13/04/2021,NaN,9310.00,13/05/2021,0.00,22193249987,9886404,1.004791e+11,rasaq,oyekanmi,noemail@email.com,NATIONAL DIRECTORATE OF EMPLOYMENT
12338,1944949,17000,13/04/2021,NaN,22610.00,13/05/2021,0.00,22248813253,25324261,1.504792e+11,shakaa,greater,noemail@email.com,GREATER CALLISTUS SHAKAA
12339,1944986,3750,13/04/2021,NaN,4990.00,13/05/2021,0.00,22264692555,2746701015,3.404792e+11,adamu,mohammed,NaN,GOMBE STATE LGA SALARY
12340,1944989,6000,13/04/2021,NaN,7980.00,13/05/2021,0.00,22207075348,3741041014,2.704792e+11,wahab,bello,noemail@email.com,PUBLIC COMPLAINTS COMMISSION

In [49]:
pd.merge(
         left = loan_disk_target, 
         right=mandates_n_creds, 
         how="outer", 
         left_on="mandates_loandisk", 
         right_on="mandates_bank"
        )

In [50]:
merged = pd.merge(
                 left = loan_disk_target, 
                 right=mandates_n_creds, 
                 how="outer", 
                 left_on="mandates_loandisk", 
                 right_on="mandates_bank"
                 )

In [55]:
credit_difference = merged.total_paid - merged[" CREDIT"]
merged["credit_difference"] = credit_difference

In [56]:
merged

,loan_id,loan_principal_amount,loan_released_date,total_amount_due,balance_amount,due_date,total_paid,bvn,account_no,mandates_loandisk,borrower_firstname,borrower_lastname,borrower_email,borrower_address,mandates_bank,CREDIT,credit_difference
0,1369069.0,40000.0,24/05/2020,NaN,0.00,31/05/2020,50000.00,2.215512e+10,5.857885e+07,1.803991e+11,DIAMOND,UDOIDIONG,diamondray943@gmail.com,NATIONAL OIL SPILL DETECTION AND RESPONSE AGENCY,1.803991e+11,50000.00,0.00
1,1369070.0,40000.0,24/05/2020,NaN,20472.64,31/05/2020,29527.36,2.224831e+10,3.280263e+09,1.403991e+11,KENNETH,ONWORDI,talk2sirnd@yahoo.com,FEDERAL MINISTRY OF INFORMATION & CULTURE - HQTRS,1.403991e+11,29378.93,148.43
2,1369071.0,30000.0,24/05/2020,NaN,0.00,31/05/2020,37500.00,2.226486e+10,2.335742e+07,1.503991e+11,OLUWASEUN,FAYOMI,fayomiooseun@yahoo.com,MEDICAL AND DENTAL COUNCIL OF NIGERIA,1.503991e+11,37500.00,0.00
3,1369072.0,30000.0,25/05/2020,NaN,0.00,31/05/2020,37500.00,2.222417e+10,3.979875e+07,3.403993e+11,charles,udogwu,NaN,"FEDERAL MEDICAL CENTRE, EBUTE METTA",3.403993e+11,37500.00,0.00
4,1369073.0,10000.0,25/05/2020,NaN,0.00,31/05/2020,12500.00,2.221116e+10,2.016782e+09,1.503993e+11,JAMES,ARONI,jamesenders007@gmail.com,NATIONAL YOUTH SERVICE CORPS (NYSC),1.503993e+11,12500.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.404668e+11,13300.00,NaN
12504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.503991e+11,1.00,NaN
12505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504338e+11,11970.00,NaN
12506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504404e+11,6650.00,NaN
12507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504621e+11,7980.00,NaN

In [57]:
merged.astype("str").to_csv("result.csv")