In [101]:
import pandas as pd
import numpy as np

In [72]:
mandates_n_creds = pd.read_csv("main_cleaned.csv-mandates-credits.csv")
loan_disk = pd.read_csv("all2 - Copy.csv")

In [73]:
# list(loan_disk.columns)
mandates_n_creds = mandates_n_creds.round(2)
loan_disk = loan_disk.round(2)

In [74]:
mandates_n_creds.drop(["Unnamed: 0"], axis = 1, inplace = True) # drop the unwanted column Unnamed: 0 from mandates

In [75]:
mandates_n_creds.columns = ['mandates_bank', ' CREDIT'] # rename mandates to mandates_bank

In [76]:
required_columns = ['loan_id',
                     'loan_principal_amount',
                     'loan_released_date',
                     'total_amount_due',
                     'balance_amount',
                     'due_date',
                     'total_paid',
                     'custom_field_4361',
                     'custom_field_4178',
                     'custom_field_5262',
                     'borrower_firstname',
                     'borrower_lastname',
                     'borrower_email',
                     'borrower_address',
                     ]
loan_disk_target = loan_disk[required_columns]

In [77]:
required_columns_customized = ['loan_id',
                                 'loan_principal_amount',
                                 'loan_released_date',
                                 'total_amount_due',
                                 'balance_amount',
                                 'due_date',
                                 'total_paid',
                                 'bvn',
                                 'account_no',
                                 'mandates_loandisk',
                                 'borrower_firstname',
                                 'borrower_lastname',
                                 'borrower_email',
                                 'borrower_address',
                                 ]

loan_disk_target.columns = required_columns_customized # change  certain column names in the fields

In [78]:
loan_disk_target = loan_disk_target.round(2)

In [79]:
pd.merge(
         left = loan_disk_target, 
         right=mandates_n_creds, 
         how="outer", 
         left_on="mandates_loandisk", 
         right_on="mandates_bank"
        )

,loan_id,loan_principal_amount,loan_released_date,total_amount_due,balance_amount,due_date,total_paid,bvn,account_no,mandates_loandisk,borrower_firstname,borrower_lastname,borrower_email,borrower_address,mandates_bank,CREDIT
0,1369069.0,40000.0,24/05/2020,NaN,0.00,31/05/2020,50000.00,2.215512e+10,5.857885e+07,1.803991e+11,DIAMOND,UDOIDIONG,diamondray943@gmail.com,NATIONAL OIL SPILL DETECTION AND RESPONSE AGENCY,1.803991e+11,50000.00
1,1369070.0,40000.0,24/05/2020,NaN,20472.64,31/05/2020,29527.36,2.224831e+10,3.280263e+09,1.403991e+11,KENNETH,ONWORDI,talk2sirnd@yahoo.com,FEDERAL MINISTRY OF INFORMATION & CULTURE - HQTRS,1.403991e+11,29378.93
2,1369071.0,30000.0,24/05/2020,NaN,0.00,31/05/2020,37500.00,2.226486e+10,2.335742e+07,1.503991e+11,OLUWASEUN,FAYOMI,fayomiooseun@yahoo.com,MEDICAL AND DENTAL COUNCIL OF NIGERIA,1.503991e+11,37500.00
3,1369072.0,30000.0,25/05/2020,NaN,0.00,31/05/2020,37500.00,2.222417e+10,3.979875e+07,3.403993e+11,charles,udogwu,NaN,"FEDERAL MEDICAL CENTRE, EBUTE METTA",3.403993e+11,37500.00
4,1369073.0,10000.0,25/05/2020,NaN,0.00,31/05/2020,12500.00,2.221116e+10,2.016782e+09,1.503993e+11,JAMES,ARONI,jamesenders007@gmail.com,NATIONAL YOUTH SERVICE CORPS (NYSC),1.503993e+11,12500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.404668e+11,13300.00
12504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.503991e+11,1.00
12505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504338e+11,11970.00
12506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504404e+11,6650.00
12507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504621e+11,7980.00

In [80]:
merged = pd.merge(
                 left = loan_disk_target, 
                 right=mandates_n_creds, 
                 how="outer", 
                 left_on="mandates_loandisk", 
                 right_on="mandates_bank"
                 )

In [81]:
credit_difference = merged.total_paid - merged[" CREDIT"]
merged["credit_difference"] = credit_difference

In [82]:
merged

,loan_id,loan_principal_amount,loan_released_date,total_amount_due,balance_amount,due_date,total_paid,bvn,account_no,mandates_loandisk,borrower_firstname,borrower_lastname,borrower_email,borrower_address,mandates_bank,CREDIT,credit_difference
0,1369069.0,40000.0,24/05/2020,NaN,0.00,31/05/2020,50000.00,2.215512e+10,5.857885e+07,1.803991e+11,DIAMOND,UDOIDIONG,diamondray943@gmail.com,NATIONAL OIL SPILL DETECTION AND RESPONSE AGENCY,1.803991e+11,50000.00,0.00
1,1369070.0,40000.0,24/05/2020,NaN,20472.64,31/05/2020,29527.36,2.224831e+10,3.280263e+09,1.403991e+11,KENNETH,ONWORDI,talk2sirnd@yahoo.com,FEDERAL MINISTRY OF INFORMATION & CULTURE - HQTRS,1.403991e+11,29378.93,148.43
2,1369071.0,30000.0,24/05/2020,NaN,0.00,31/05/2020,37500.00,2.226486e+10,2.335742e+07,1.503991e+11,OLUWASEUN,FAYOMI,fayomiooseun@yahoo.com,MEDICAL AND DENTAL COUNCIL OF NIGERIA,1.503991e+11,37500.00,0.00
3,1369072.0,30000.0,25/05/2020,NaN,0.00,31/05/2020,37500.00,2.222417e+10,3.979875e+07,3.403993e+11,charles,udogwu,NaN,"FEDERAL MEDICAL CENTRE, EBUTE METTA",3.403993e+11,37500.00,0.00
4,1369073.0,10000.0,25/05/2020,NaN,0.00,31/05/2020,12500.00,2.221116e+10,2.016782e+09,1.503993e+11,JAMES,ARONI,jamesenders007@gmail.com,NATIONAL YOUTH SERVICE CORPS (NYSC),1.503993e+11,12500.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.404668e+11,13300.00,NaN
12504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.503991e+11,1.00,NaN
12505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504338e+11,11970.00,NaN
12506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504404e+11,6650.00,NaN
12507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504621e+11,7980.00,NaN

In [84]:
# merged.astype("str").to_csv("result.csv")

In [90]:
excess_mask = merged["credit_difference"] > 0
less_mask = merged["credit_difference"] < 0
unknowns_mask = merged["loan_id"].isnull()
not_in_bank_mask = merged[" CREDIT"].isnull()

In [91]:
excess = merged[excess_mask]
less = merged[less_mask]
unknowns = merged[unknowns_mask]
not_in_bank = merged[not_in_bank_mask]

In [92]:
unknowns

,loan_id,loan_principal_amount,loan_released_date,total_amount_due,balance_amount,due_date,total_paid,bvn,account_no,mandates_loandisk,borrower_firstname,borrower_lastname,borrower_email,borrower_address,mandates_bank,CREDIT,credit_difference
12341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.003983e+11,1.0,NaN
12342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.003995e+11,1.0,NaN
12343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.003995e+11,1.0,NaN
12344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.004370e+11,13300.0,NaN
12345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.004416e+11,9310.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.404668e+11,13300.0,NaN
12504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.503991e+11,1.0,NaN
12505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504338e+11,11970.0,NaN
12506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504404e+11,6650.0,NaN
12507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.504621e+11,7980.0,NaN

In [107]:
x = merged.groupby("loan_id").filter(lambda x: x["loan_id"] != np.nan)

In [112]:
with pd.ExcelWriter('result.xlsx') as writer:  
    
    excess.to_excel(writer, sheet_name='excess')
    less.to_excel(writer, sheet_name='less')
    unknowns.to_excel(writer, sheet_name='unknowns')
    not_in_bank.to_excel(writer, sheet_name='not_in_bank')

In [ ]:
mandates_n_creds = mandates_n_creds.round(2)
loan_disk = loan_disk.round(2)

mandates_n_creds.drop(["Unnamed: 0"], axis = 1, inplace = True) # drop the unwanted column Unnamed: 0 from mandates

mandates_n_creds.columns = ['mandates_bank', ' CREDIT'] # rename mandates to mandates_bank

required_columns = ['loan_id',
                     'loan_principal_amount',
                     'loan_released_date',
                     'total_amount_due',
                     'balance_amount',
                     'due_date',
                     'total_paid',
                     'custom_field_4361',
                     'custom_field_4178',
                     'custom_field_5262',
                     'borrower_firstname',
                     'borrower_lastname',
                     'borrower_email',
                     'borrower_address',
                     ]
loan_disk_target = loan_disk[required_columns]

required_columns_customized = ['loan_id',
                                 'loan_principal_amount',
                                 'loan_released_date',
                                 'total_amount_due',
                                 'balance_amount',
                                 'due_date',
                                 'total_paid',
                                 'bvn',
                                 'account_no',
                                 'mandates_loandisk',
                                 'borrower_firstname',
                                 'borrower_lastname',
                                 'borrower_email',
                                 'borrower_address',
                                 ]

loan_disk_target.columns = required_columns_customized # change  certain column names in the fields

merged = pd.merge(
                 left = loan_disk_target, 
                 right=mandates_n_creds, 
                 how="outer", 
                 left_on="mandates_loandisk", 
                 right_on="mandates_bank"
                 )

credit_difference = merged.total_paid - merged[" CREDIT"]
merged["credit_difference"] = credit_difference

excess_mask = merged["credit_difference"] > 0
less_mask = merged["credit_difference"] < 0
unknowns_mask = merged["loan_id"].isnull()
not_in_bank_mask = merged[" CREDIT"].isnull()

excess = merged[excess_mask]
less = merged[less_mask]
unknowns = merged[unknowns_mask]
not_in_bank = merged[not_in_bank_mask]

with pd.ExcelWriter('result.xlsx') as writer:  
    
    excess.to_excel(writer, sheet_name='excess')
    less.to_excel(writer, sheet_name='less')
    unknowns.to_excel(writer, sheet_name='unknowns')
    not_in_bank.to_excel(writer, sheet_name='not_in_bank')